# Dependencies
node_modules

# Tests
tests/
**.spec.ts
**.test.ts
coverage/

# Source and build configs
tsconfig.json
tsconfig.cjs.json
tsconfig.esm.json
jest.config.ts

# Linting and formatting
eslint-compat.cjs
eslint.config.mjs
.eslintignore
commitlint.config.cjs
.prettierrc
.prettierignore
.depcheckrc.json

# Git and CI
.github/
.husky/
.gitignore

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Environment and logs
*.log
*.env
*.env.*
temp/

# IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Node version
.nvmrc

# docs
REFERENCE.md