name: Check

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - '**'

jobs:
  check:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Commit linting
        run: npx commitlint --config commitlint.config.cjs --from=HEAD~1 --to=HEAD --verbose

      - name: Code linting
        run: pnpm run lint
        env:
          CI: true

      - name: Dependency check
        run: pnpm run depcheck

      - name: Build
        run: pnpm run build
